<main>
  <div class="container">
    <div class="about">
      <div class="about-photo">
        <img src="assets/img/ramon-professional-photo.jpg" alt="">
      </div>
      <h2 class="about-title">About</h2>
      <mat-divider></mat-divider>
      <p class="about-info">I thrive on finding technical solutions to complex problems. I specialize in Identity,
        Governance, and Administration and have 4 years of professional experience working with several different
        verticals. </p>
      <p class="about-info">Beginning in Project Management, moving to Engineering Services, and now to Sales as a
        Solutions Engineer I have gained experience in numerous areas of the business. I am always eager to learn and in
        my time outside of the office I work to build my skill set. I constantly take technical courses and have learned
        a great deal about Front End and Back End Web Development Frameworks. I have a competitive spirit and am always
        looking for the next challenge. </p>
      <p class="about-info">In my free time, I enjoy being active and playing Tennis with my wife, Rebecca Ramon. We are
        also lucky enough to be able to travel to a different state every 3 months, due to my wife being a Travel
        Physical Therapist. You will always find us exploring different cities during the weekend and looking for the
        best food places! </p>
    </div>
  </div>
</main>
<section class="technical-section">
  <div class="container">
    <div class="tech">
      <h2 class="tech-title">Technical Skills</h2>
      <mat-divider></mat-divider>
      <h3 class="tech-iga-title">Identity, Governance, and Administration</h3>
      <ul class="tech-iga-skill-list">
        <li class="tech-iga-skill-list-item">RapidIdentity</li>
        <li class="tech-iga-skill-list-item">Micro Focus</li>
        <li class="tech-iga-skill-list-item">Active Directory</li>
        <li class="tech-iga-skill-list-item">eDirectory</li>
        <li class="tech-iga-skill-list-item">Networking</li>
        <li class="tech-iga-skill-list-item">Governance</li>
        <li class="tech-iga-skill-list-item">Access Management</li>
        <li class="tech-iga-skill-list-item">Federation</li>
        <li class="tech-iga-skill-list-item">Authentication</li>
        <li class="tech-iga-skill-list-item">Single Sign On</li>
        <li class="tech-iga-skill-list-item">Lifecycle Management</li>
      </ul>
    </div>
    <div class="backend">
      <h3 class="backend-tech-title">Backend Technologies</h3>
      <mat-divider></mat-divider>
      <ul class="backend-tech-skill-list">
        <li class="backend-tech-skill-list-item">PostgreSQL</li>
        <li class="backend-tech-skill-list-item">MySQL</li>
        <li class="backend-tech-skill-list-item">MongoDB</li>
        <li class="backend-tech-skill-list-item">Microsoft SQL</li>
        <li class="backend-tech-skill-list-item">RESTful API</li>
        <li class="backend-tech-skill-list-item">AWS</li>
        <li class="backend-tech-skill-list-item">GIT</li>
      </ul>
    </div>
    <div class="frontend">
      <h3 class="frontend-tech-title">Frontend Technologies</h3>
      <mat-divider></mat-divider>
      <ul class="frontend-tech-skill-list">
        <li class="frontend-tech-skill-list-item">JavaScript</li>
        <li class="frontend-tech-skill-list-item">HTML</li>
        <li class="frontend-tech-skill-list-item">CSS</li>
        <li class="frontend-tech-skill-list-item">Angular</li>
        <li class="frontend-tech-skill-list-item">Typescript</li>
      </ul>
    </div>
    <div class="other">
      <h3 class="other-tech-title">Other</h3>
      <mat-divider></mat-divider>
      <ul class="other-tech-skill-list">
        <li class="other-tech-skill-list-item">Fast Learner</li>
        <li class="other-tech-skill-list-item">Independent</li>
        <li class="other-tech-skill-list-item">Strong Analytical Skills</li>
        <li class="other-tech-skill-list-item">Great Communicator</li>
        <li class="other-tech-skill-list-item">Product Management</li>
      </ul>
    </div>
  </div>
</section>
<section class="experience-section">
  <div class="container">
    <div class="experience">
      <h2 class="experience-title">Professional Experience</h2>
      <mat-divider></mat-divider>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Identity Automation - Houston TX
          </mat-panel-title>
          <mat-panel-description>
            December 2020 - Now
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2>Solutions Engineer</h2>
        <ul>
          <li>Provide technical demonstrations on over 5 different products</li>
          <li>Act as subject matter expert on team for flagship product</li>
          <li>Provide webinars on Identity, Governance, and Administration topics</li>
          <li>Technical build out of solutions to meet customer needs</li>
          <li>Provide RFI/RFP Responses</li>
          <li>Provide technical proof of concept to customers</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            EST Group - Arlington TX
          </mat-panel-title>
          <mat-panel-description>
            February 2017 - December 2020
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2>Solutions Architect</h2>
        <ul>
          <li>Managed workload for up to 5 engineering resources, across up to 7 projects at a time</li>
          <li>Created, reviewed, and verified Statements of Work</li>
          <li>Alerted sales team of sales opportunities, and worked in conjunction to deliver scope to client</li>
          <li>Gathered requirements for solution and built out Technical Design Documentation</li>
          <li>Architected custom solutions</li>
          <li>Oversaw production roll outs</li>
        </ul>
      </mat-expansion-panel>
      <h2 class="certification-title">Certifications</h2>
      <mat-divider></mat-divider>
      <div class="certification-list">
        <img class="certification-list-aws-sa" src="assets/img/sa-associate-badge.png" alt="">
        <img class="certification-list-aws-sa" src="assets/img/pmc-level-ii.png" alt="">
      </div>
    </div>
  </div>
</section>
