<mat-toolbar class="desktop">
  <span class="desktop-title">
    <a mat-button routerLink="/">Portfolio</a>
  </span>
  <span class=spacer></span>
  <span></span>
  <a mat-button class="desktop-menu-item-link" routerLink="/about">About</a>
  <!-- <a mat-button class="desktop-menu-item-link" routerLink="/construction">Videos</a>
  <a mat-button class="desktop-menu-item-link" routerLink="/construction">White Papers</a> -->
  <a mat-raised-button class="desktop-menu-item-link desktop-menu-item-contact" routerLink="/contactme" color="accent">Contact Me</a>
</mat-toolbar>

<mat-toolbar class="mobile-view" >
  <button class="mobile-view-icon" mat-icon-button (click)="toggle()" color="primary">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="mobile" [@toggleMobile]="isOpen ? 'open' : 'closed'">
  <div class="mobile-container">
    <ul class="mobile-menu" (click)="toggle()">
      <li class="mobile-menu-item">
        <a mat-button class="mobile-menu-item-link" routerLink="/">Home</a>
      </li>
      <li class="mobile-menu-item">
        <a mat-button class="mobile-menu-item-link" routerLink="/about">About</a>
      </li>
      <!-- <li class="mobile-menu-item">
        <a mat-button class="mobile-menu-item-link" routerLink="/construction">Videos</a>
      </li>
      <li class="mobile-menu-item">
        <a mat-button class="mobile-menu-item-link" routerLink="/construction">White Papers</a>
      </li> -->
      <li class="mobile-menu-item">
        <a mat-raised-button class="mobile-menu-item-link mobile-menu-item-contact" routerLink="/contactme" color="accent">Contact Me</a>
      </li>
    </ul>
  </div>
</div>
