main {
    background-image: url('/assets/img/sos.png');
    min-height: 80vh;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.content {
    padding: 5rem 0;
    text-align: center;
    max-width: 410px;
    margin: 0 auto;
    /* border: solid red 2px; */
}

mat-form-field {
    width: 100%;
}

mat-icon {
    margin-right: 1rem;
}

button {
    display: block;
    margin-left: auto;
}