@use '~@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
$custom-typography: mat.define-typography-config(
  $font-family: 'Rufina, serif',
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500)
);
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat.define-palette(mat.$red-palette, 600);
$portfolio-accent: mat.define-palette(mat.$cyan-palette, 300);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat.define-palette(mat.$orange-palette, 500);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-theme: mat.define-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);
