/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

:root {
    --primary: #e53935;
    --primary-light: #ff6f60;
    --primary-dark: #ab000d;
    --secondary: #80deea;
    --secondary-light: #b4ffff;
    --secondary-dark: #4bacb8;
    --tertiary: #ff9800;
    --tertiary-light: #ffc947;
    --tertiary-dark: #c66900;
    --bg-clr: whitesmoke;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body { 
    height: 100%;
}

body {
    margin: 0;
    padding: 0; 
    font-family: 'Rufina', serif; 
}