<main>
  <div class="container">
    <div class="content">
      <div class="content-main">
        <h1 class="content-main-title">
          <p>I am Identity Consultant</p>
          <p>Ramon Ramon</p>
        </h1>
        <p class="content-main-description">I thrive on finding technical solutions to complex problems. I specialize in Identity, Governance, and Administration and have 4 years of professional experience working with several different verticals.</p>
        <a class="content-main-about" mat-flat-button color="primary" routerLink="/about">About</a>
        <button class="content-main-contact" mat-stroked-button color="primary" routerLink="/contactme">Contact Me</button>
      </div>
    </div>
  </div>
</main>
